// Define variables for your color scheme

// For example:
// $red: #FD1015;
$blue: #D95F57;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #E4EAFC;

$body-bg: #E4EAFC;
$title: #000000;
$subtitle: #2F7DF5;
$text-color: #737478;
$buttons: #D95F57;
$cards: #F4F7FF;
$dark-blue: #050031;
