// Specific CSS for your home-page
body  {
  background-color: $body-bg;
}
.span {

  margin-bottom: 30px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
  margin-bottom: 40px;
}
.wraper {
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 80px;
  padding-left: 80px;
}

img {
  width: 80%;
}
.btn-primary {
  color: white;
}

.content {
  margin-top:100px;
  margin-bottom: 200px;
}

// não funciona
p {
  font: 56px !important;
}
