// Specific CSS for your home-page
body  {
  background-color: $body-bg;
}

h2 {
  font-size: 25px;
  margin-bottom: 4px;
}
.wraper {
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 80px;
  padding-left: 80px;
}

.btn-primary {
  color: white;
}
