// Specific CSS for your home-page
body  {
  background-color: $body-bg;
}

h1 {
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  letter-spacing: 1.5px;
  margin-top: 240px;

}
h2 {
  font-size: 25px;
  margin-bottom: 4px;
}
.wraper {
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 80px;
}

.btn-primary {
  color: white;
}

.typewriter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.content {
  position: relative;
  z-index: 1;
}

.typewriter h1 {
  font-family: "Press Start 2P", Arial, sans-serif;
}

.typewriter .Typewriter__cursor {
  display: none;
}

.btn {
  margin-top: 20px;
  padding: 12px 50px;
  font-size: 20px;
  letter-spacing: 1px;

}

// img {
//   width: 90%;
// }

.all {
  margin-top: 110px;
  position: relative;
}

.imge {
  margin-top: 80px;
  position: relative;
}

.no-challenge {
  margin-left: 30px;
  margin-top: 0 !important;
  }

#botao {
  margin-left: 0;
  padding: 6px 55px;
  border-radius: 80px;
}
