<%= stylesheet_link_tag 'prompts/new' %>

<div data-controller="loader">
  <div id="slow_warning" class="d-none" data-loader-target="loading">
    <div class="second-wrapper">
      <div class="circle-loader">
        <div class="circle circle_four"></div>
        <div class="circle circle_three"></div>
        <div class="circle circle_two"></div>
        <div class="circle circle_one"></div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col -md-6"><%= image_tag "form.svg", class: "img-fluid" %></div>
    <div class="col -md-6"><%= render 'form', prompt: @prompt %></div>
  </div>
</div>
