pre {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

pre::first-line{
  font-weight: bold !important;
}

.first {
  // width: 100%;
  border-radius: 10px;
  // background-color: white;
  // margin: 20px 0 0 20px;
  padding: 30px;
}

.container-fluid{
  background-color: rgba(255, 255, 255, 0.567);
  border-radius: 10px;
  margin: 20px auto 25px;
  padding: 20px;
}
.columns-container {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 10px;
}

#hat {
  display: flex;
  padding: 20px;
  margin: 20px auto 25px;
  width: 100%;

  gap: 30px;
  background-color: rgba(255, 255, 255, 0.567);
  border-radius: 20px;
}
