pre {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: visible;
}

img, svg {
  width: 30px;
}

// .mleft {
//   font-size: 18px;
//   font-weight: 400;
//   color:#2561C2;

// }

.date {
font-size: 10px;
color: gray;
font-style: italic;


}

.fa-solid {
  font-size: 25px;
  color: #1E1A48;
}

.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr !important;
  gap: 40px !important;
  border-radius: 10px;
  margin: 30px auto !important;

  width: 90%;
}

.columns-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 10px;
}


h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}

.btn {
  margin: 40px;
  padding: 8px 24px;
  border-radius: 80px;
}

p {
  font-size: 14px;
  text-decoration: none;
  color:#2F7CF5;
}

.title {
  padding: 0;

}

.card {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  border: none !important;


}

a {
  text-decoration: none;
}

pre::first-line {
  font-weight: bold !important;
}

.first {
  border-radius: 10px;
  padding: 30px;
}

.hat {
  color:#2F7CF5;
  display: flex;
  gap: 12px;
  margin-bottom: 6px;
  border-radius: 20px;
}

.animal {
  font-size: 25px;
  line-height: 1;
  // width: 1000px;
  // height: 50px;
}
.emojis-animals{
  display: flex;
  gap: 12px;

}

#hat {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  padding: 20px;
  margin: 20px auto 25px;
  width: 100%;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.567);
  border-radius: 20px;
}

.butts {
  padding: 6px 25px;
  border-radius: 80px;
  max-width: 140px;

}

.butts > a {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.butt {
  display: flex;
  gap: 8px;

}

#restart{
color: white;
background-color: #2F7CF5;


}

#reviews{

background-color: #2F7CF5;

}

#delete{
  background-color: red;

}
