pre {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: visible;
}

img, svg {
  width: 30px;
}

.mleft {
  font-size: 18px;
  font-weight: 500;
  color:#2561C2;

}

.fa-solid {
  font-size: 25px;
  color: black;
}

.row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr !important;
  gap: 40px !important;
  border-radius: 10px;
  margin: 30px auto !important;

  width: 90%;
}

.columns-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 10px;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  margin: 10px;
}

.btn {
  margin: 40px;
  padding: 8px 24px;
  border-radius: 16px;
}

p {
  font-size: 14px;
  text-decoration: none;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  border: none !important;

}

a {
  text-decoration: none;
}

pre::first-line {
  font-weight: bold !important;
}

.first {
  border-radius: 10px;
  padding: 30px;
}

.hat {
  color:#2F7CF5;
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
  border-radius: 20px;
}

#hat {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  padding: 20px;
  margin: 20px auto 25px;
  width: 100%;
  gap: 8px;
  background-color: rgba(255, 255, 255, 0.567);
  border-radius: 20px;
}

.butts {
  padding: 6px;
  border-radius: 8px;

}

.butt {
  display: flex;
  gap: 15px;

}

#restart{
  border: 1px solid #2F7CF5;


}

#reviews{
  border: 1px solid #2F7CF5;

}

#delete{
  border: 1px solid red;

}
