.footer {
  position: relative;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.form {
  max-width: 500px;
  margin: 10px auto;
  padding: 30px 20px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.567);
  box-shadow: 1px 4px 10px 1px #aaa;
  box-sizing: border-box;
  font-weight: bold;
}

form input[type=text],
form input[type=number] {
  display: block;
  height: auto;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
  font-style: italic;
  font-size: small;
}

.light {
  display: block;
  height: auto;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
  font-style: italic;
  font-size: small;
}


.form select {
  display: block;
  height: auto;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
}

.btn {
  width: 100%;
}

.row {
  width: auto;
}
