<div class="row">
  <div class="all col-md-6">
    <div class="typewriter">
      <h1>AI-DRIVEN <br> CODING <br> CHALLENGES</h1>
    </div>

    <div class="content">
      <p id="mtop">Personalized coding challenges to land your dream job.</p>
      <%= link_to new_prompt_path, class: "btn btn-primary" do %>
        GET STARTED
      <% end %>
    </div>
  </div>

  <div class="imge col-md-6">
    <%= image_tag "nt.svg", class: "img-fluid" %>
  </div>
</div>
