<div class="row">
<div class="col -md-6">
  <h1>
  <div class="span">
   AI-DRIVEN <br>
  </div>
  <div class="span">
    CODING <br>
  </div>
  <div class="span">
  CHALLENGES</span>
  </div>
  </h1>
  <div class="content">
    <p>Personalized coding challenges to land your dream job.</p>
      <%= link_to new_prompt_path do %>
        <div class="btn btn-primary"> GET STARTED </div>
      <% end %>
  </div>
</div>
  <div class="col -md-6"><%= image_tag "nt.svg", class: "img-fluid" %></div>
</div>
