/* Navbar container */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $body-bg;
}

.logo-container {
  margin-left: 80px;
}

/* Navbar brand */
// .navbar-brand {
//    display: flex; align-items: center; text-decoration: none;
//   }

/* Logo image */
.logo {
  width: 150px; height: auto;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-right: 25px;
}

.nav-links li {
  margin-right: 50px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none; color: #333; position: relative;
  font-weight: bold;
}

.nav-links a:not(.no-animation):hover::after {
  content: ""; position: absolute;
  left: 0; bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #333;
  animation: underline 0.3s forwards;
}

@keyframes underline {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

/* Avatar image */
.avatar {
  width: 40px; height: 40px; border-radius: 50%;
  margin-right: 20px;
}

.dropdown-menu-end {
  margin-right: 30px;
  padding: 3px;

}

.logout:hover {
background-color: $body-bg;
background-color: #333;
animation: underline 0.3s forwards;
}
