<%= stylesheet_link_tag 'code_reviews/show' %>

<div id="hat">
  <div class="img">
    <%= image_tag 'hat.svg' %>
  </div>
  <h2>Your review</h2>
</div>

<div class="container-fluid">
  <div class="content first">
    <h1>Analyses and Feedback:</h1>
    <pre><%=@code_review.received_feedback %></pre>
  </div>
</div>

<%= link_to 'Try again', prompt_path, class: 'btn btn-primary rounded' %>

